td.number {
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	white-space: nowrap;
}

td.boolean {
	text-align: center;
}

th.boolean {
	text-align: center;
}

#paginator {
	font-family:  Helvetica, Arial, sans-serif;
  	margin: 10px 0;
	font-size: 12px;
	text-align: center;
	margin-bottom: 5px;
}

#paginator a { color:  #0078cc; text-decoration: none; font-size: 12px; }           
#paginator a:hover { color: #000; }
#paginator a:active { color: #777; }
#paginator a:focus { outline: 1px; }

#pagecontrol {
	padding-bottom: 5px;
	float: right;
}

#filter { 
	width: 250px;
	margin-bottom: 10px; 
}